body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button{
  cursor:pointer;
}
